html {
	height: 100%;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -1000px -1000px }
}

body {
	height: 100%;
	background-image: url("/assets/eggplant.png");
	background-color: #D06E6E;
	background-size: 100px 100px;
	background-repeat: repeat;
	animation: animatedBackground 40s linear infinite;
}

#hello {
  color: #744EAA;
  background: #77B255;
  font-family: Arial;
  display: inline-flex;
  padding: 10px;
  border-radius: 4px;
}

.outer-container {
	position: relative;
	height: 600px;
	width: 100%;
}

.inner-container {
	text-align: center;
	width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}